In [ ]:
#1# write a python program to convert a string to lower case

In [1]:
x=input("enter name:")
x.lower()

enter name:PYTHON

'python'

In [ ]:
#2# write a python program to convert only odd indexed to lower case 
#out put :-PyThOn

In [49]:
x=input("enter the name:")
var=" "
for y in range(6):
    if y%2==0:
        var=var+x[y].upper()
    else:
        var=var+x[y].lower()
print(var)

enter the name:PYTHON
 PyThOn

In [20]:
#3#write a python program to convert only even indexed character to lower case 
#out put :-pYtHoN

In [69]:
x=input("enter name:")
sum=" "
for y in range(6):
    if y%2==0:
        sum=sum+x[y].lower()
    else:
        sum=sum+x[y].upper()
print(sum)

enter name:python
 pYtHoN

In [ ]:
#4#Write a python program to convert only odd
#indexed characters to upper case
#Ex:- python
#Output: - pYtHoN

In [78]:
x=input("enter name:")
a=" "
for b in range(6):
    if b%2==0:
        a=a+x[b].upper()
    else:
        a=a+x[b].lower()
print(a)

enter name:python
 PyThOn

In [ ]:
#5#Write a python program to convert only even
#indexed characters to upper case
#Ex:- python
#Output: - PyThOn

In [80]:
x=input("enter name:")
c=""
for d in range(6):
    if d%2==0:
        c=c+x[d].lower()
    else:
        c=c+x[d].upper()
print(c)

enter name:python
pYtHoN

In [ ]:
#6#Write a python program where you have different variable which contains your name,sex,age, phone no ,fathers name and mothers
#name.And by using this variable create a variable named bio-data where you will use all this variables
#Ex:-print(bio-data)
#Output:- My name is …., My age is ….,My
#phone-no is ….,my fathers name is …,and my
#mothers name is……

In [1]:
name=input("my name is: ")
age=input("my age is: ")
fathername=input("my father name is: ")
mothername=input("my mother name is: ")
phno=int(input("my ph no is: "))
bio_data="my name is:{0},my age is:{1},my father name is:{2},my mother name is:{3},my ph no is:{4}"
bio_data.format(name,age,fathername,mothername,phno)

my name is: anil
my age is: 25
my father name is: kumar
my mother name is: uma
my ph no is: 9676341905

'my name is:anil,my age is:25,my father name is:kumar,my mother name is:uma,my ph no is:9676341905'

In [ ]:
##7.Write a python program to count how many
#times “@” occurred

In [82]:
str=("anil@anil@anil@")

In [83]:
type(str)

str

In [84]:
str.endswith("@")

True

In [85]:
str.count("@")

3

In [ ]:
##8.Write a python program to get only names from
#the string
#“name1.@gmail.com,name2.@gmail.com,name
#3.@gmail.com”
#Output-name1,name2,name3

In [87]:
x=("name1.@gmail.com,name2.@gmail.com,name3.@gmail.com")

In [88]:
type(x)

str

In [94]:
x=("name1.@gmail.com,name2.@gmail.com,name3.@gmail.com")

In [95]:
x.replace(".@gmail.com","")

'name1,name2,name3'

In [96]:
y=x=("name1.@gmail.com,name2.@gmail.com,name3.@gmail.com")

In [110]:
y=x.split(".@gmail.com")

In [111]:
A="".join(y)

In [112]:
A

'name1,name2,name3'

In [ ]:
##9.Given a string of odd length greater that 9,return a new string made of the middle three characters of a given String
#Ex:- “mynameissan
#Output:- “mei”

In [119]:
x="mynameisan"

In [120]:
type(x)

str

In [125]:
x.index("m")

0

In [126]:
x.index("e")

5

In [127]:
x.index("i")

6

In [129]:
x[0]+x[5]+x[6]

'mei'

In [ ]:
##10. Write a python program to insert a 2 stringin the middle of 1 string
#Ex:-Str1=”myn”
 #Str2=”sa”
#Output:-“msayn”

In [1]:
x=input("first name:")
y=input("second name:")

first name:myn
second name:sa

In [2]:
x

'myn'

In [3]:
y

'sa'

In [4]:
len(x)

3

In [5]:
len(y)

2

In [8]:
x[0:1]

'm'

In [9]:
x[1:3]

'yn'

In [10]:
y[0:2]

'sa'

In [11]:
z=x[0:1]+y[0:2]+x[1:3]

In [12]:
z

'msayn'

In [13]:
##11. Write a program to remove vowels from the entire alphabets
#Ex:- “abcdefghijklmnopqrstuvwxyz”
#Output:- “bcdfghjklmnpqrstvwxyz”

In [2]:
x=("abcdefghijklmnopqrstuvwxyz")

In [3]:
x

'abcdefghijklmnopqrstuvwxyz'

In [5]:
x.replace("a","").replace("e","").replace("i","").replace("o","").replace("u","")

'bcdfghjklmnpqrstvwxyz'